body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.kotak_besar {
    position: relative;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 360px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

h1 {
    font-size: large;
    padding: 0;
}

.need_akun{
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: row;
    margin-bottom: 30px;
}

p {
    font-size: small;
    margin-bottom: 35px;
}

.need_akun a{
    font-size: small;
    color: rgb(82, 131, 255);
}

.need_akun span {
    font-size: small;
    margin-right: 0;
}



.button_login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 35px;
}

.button_google {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(222, 222, 222);
    padding: 5px;
    gap: 15px;
    border-radius: 5px;
    width: 360px;
}

.button_google img {
    margin-right: -10px;
    margin-left: 10px;
    height: 22px;
}

span {
    font-size: 12px;
    margin-right: 10px;
}



.button_apple {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(222, 222, 222);
    padding: 5px;
    gap: 15px;
    border-radius: 5px;
    width: 360px;
}

.button_apple img {
    height: 22px;
    margin-right: -10px;
    margin-left: 10px;
}

.pemisah{
    border-bottom: 1px solid rgb(220, 220, 220);
    font-size: 13;
    justify-content: center;
    display: flex;
}

.pemisah span{
    background-color: white;
    margin: -10px 0px;
    padding: 0 10px;
    color: rgb(120, 120, 120);
}

.kotak_email{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7px;
    margin-top: 10px;
}

.email input{
    width: 360px;
    border: rgb(220, 220, 220) solid 1px;
    padding: 10px;
    border-radius: 7px;
}

.kotak_email span{
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    display: flex;
    justify-content: start;
}

.pw{
    display: grid;
    height: 35px;
    justify-content: start;
    margin-top: -30px;
    flex-direction: column;
    margin: 20px;
}

input{
    box-sizing: border-box;
    width: 100%;
    border: rgb(220, 220, 220) solid 1px;
    padding: 10px;
    border-radius: 7px;
}

.kotak_pw{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 7px;
}

.kotak_pw span{
    font-size: 15px;
}

.kotak_pw a{
    color: rgb(82, 131, 255);
}

.kotak_remember{
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-top: 15px;
}

.kotak_remember input{
    width: 20px;
    height: 50px;
    margin-right: 10px;
}

.kotak_remember span{
    margin-top: 18px;
    font-size: 13px;
}

.sign_in{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sign_in button{
    width: 100%;
    height: 35px;
    background-color: rgb(82, 131, 255);
    border: 0;
    border-radius: 7px;
    color: white;
}